
.cards {
    background-color: #80EA69;
}

.card {

    height: fit-content;
    background-color: #59EA3A;
    color: black;
    margin-bottom: 10px;
    padding: 10px;

}

.card p {
    padding: 5px 5px 5px 10px;
    width: 100%;
    font-weight: 400;
    text-align: left;
}